
.example-spacer {
  flex: 1 1 auto;
}

.blanco
{
  background: linear-gradient(to bottom,  rgba(23, 155, 173, 0.24), rgba(255, 255, 255, 0));
}

.nav
{
  background: linear-gradient(to right,  rgba(23, 155, 173, 0.24), rgba(255, 255, 255, 0));
}

@media (min-width: 768px) {
  .gradient-form {
  height: 92vh !important;
  }
}
